autopep8==1.6.0
cycler==0.11.0
ffmpeg==1.4
fonttools==4.36.0
kiwisolver==1.4.4
matplotlib==3.5.3
numpy==1.21.2
opencv-python==4.5.3.56
packaging==21.3
Pillow==8.3.2
pyAudioAnalysis==0.3.14
pycodestyle==2.8.0
pyparsing==3.0.9
python-dateutil==2.8.2
scipy==1.9.0
six==1.16.0
toml==0.10.2
torch==1.10.0+cu113
torchaudio==0.10.0+cu113
torchvision==0.11.1+cu113
tqdm==4.46.0
typing-extensions==3.10.0.2
